---
import KanbanView from "../../components/board/KanbanView";
import Layout from "../../layouts/Layout.astro";
import BoardService from "../../service/boardService";
import TaskService from "../../service/taskService";
const { board_id } = Astro.params;
const board = await BoardService.getBoard(board_id);
const tasks = board ? await TaskService.getTasksByBoardId(board_id) : [];
console.log(`got ${tasks.length} tasks`);
console.log(`board page tasks response: \n${JSON.stringify(tasks)}`);
---

<Layout title="Kanban Board">
  <div class="flex flex-col text-left w-full max-w-full overflow-x-overlay">
    <h1 class="w-8/12 text-3xl sm:text-4xl font-bold clip">
      {board.title}
      {
        !board?.title?.toLowerCase()?.includes("board") && (
          <span class="ml-2 text-gradient">board</span>
        )
      }
    </h1>
    <div class="overflow-x-auto max-w-full">
      <KanbanView board={board} tasks={tasks} client:visible />
    </div>
  </div>
</Layout>
